{
  "presets": [
    "@babel/preset-env", //转换 ES2015+
    "@babel/preset-react", //babel 官方 react 插件集
  ],
  "plugins": [
    "@babel/plugin-transform-runtime", //
    ["@babel/plugin-proposal-decorators", { "legacy": true }], //装饰器支持
    "@babel/plugin-proposal-class-properties"
  ]
}