{
  "presets": [
    "@babel/preset-env", //转换 ES2015+
    "@babel/preset-react", //babel 官方 react 插件集
  ],
  "plugins": [
    "@babel/plugin-transform-runtime", //
    "react-hot-loader/babel", //热更新 react 组件
  ]
}